<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container">
    <mat-grid-list cols="1" rowHeight="fit" gutterSize="16px" class="grid-container">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="1"><p style="text-align: center;">ul. Marszałkowska 123, 00-102 Warszawa, Poland</p></mat-grid-tile>
      <mat-grid-tile colspan="1"><p>theflowertale&#64;gmail.com</p></mat-grid-tile>
      <mat-grid-tile colspan="1">+48 529 655 242</mat-grid-tile>
      <mat-grid-tile colspan="1">
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram custom-icon"></i></a>
        <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok custom-icon"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook custom-icon"></i></a>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"><p style="font-size: 10px;">© 2024 Design by kjbd</p></mat-grid-tile>
    </mat-grid-list>
</div>
