<div class="container small-screen-layout">
  <mat-grid-list cols="6" class="grid-container" gutterSize="10px" rowHeight="fit">
      <mat-grid-tile colspan="6" rowspan="1" class="header-tile"><p class="header-p">About Us</p></mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2" class="desc-tile">
        <p>At The Flower Tale, we specialize in creating simple and classic bouquets for various occasions. We aim to make each arrangement both interesting and elegant, ensuring a perfect balance in design. Every bouquet is crafted with attention to detail and a passion for florals, bringing a touch of nature’s beauty to your special moments.</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-tile">
        <img src="assets/images/human1.jpg" alt="Hero Image" class="about-image">
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="2" class="photo-desc-tile">
        <p>Ann is the head florist with a love for classic floral styles, focusing on timeless elegance and refined arrangements.</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-tile">
        <img src="assets/images/human2.jpg" alt="Hero Image" class="about-image">
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="2" class="photo-desc-tile">
        <p>Liv is an expert in colors and combinations, crafting balanced and appealing arrangements.</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-tile">
        <img src="assets/images/human3.jpg" alt="Hero Image" class="about-image">
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="2" class="photo-desc-tile">
        <p>Emma specializes in arranging flowers and using them to enhance decor, ensuring each setting is beautifully styled.</p>
      </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="container large-screen-layout">
  <mat-grid-list cols="6" class="grid-container" gutterSize="10px" rowHeight="fit">
      <mat-grid-tile colspan="6" rowspan="1" class="header-tile"><p class="header-p">About Us</p></mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2" class="desc-tile">
        <p>At The Flower Tale, we specialize in creating simple and classic bouquets for various occasions. We aim to make each arrangement both interesting and elegant, ensuring a perfect balance in design. Every bouquet is crafted with attention to detail and a passion for florals, bringing a touch of nature’s beauty to your special moments. Whether for celebrations or everyday charm, our arrangements are made to leave a lasting impression.</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-tile">
        <img src="assets/images/human1.jpg" alt="Hero Image" class="about-image">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-tile">
        <img src="assets/images/human2.jpg" alt="Hero Image" class="about-image">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-tile">
        <img src="assets/images/human3.jpg" alt="Hero Image" class="about-image">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-desc-tile">
        <p style="height: 100%; padding:10%;">Ann is the head florist with a love for classic floral styles, focusing on timeless elegance and refined arrangements.</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-desc-tile">
        <p style="height: 100%; padding:10%;">Liv is an expert in colors and combinations, crafting balanced and appealing arrangements.</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2" class="photo-desc-tile">
        <p style="height: 100%; padding:10%;">Emma specializes in arranging flowers and using them to enhance decor, ensuring each setting is beautifully styled.</p>
      </mat-grid-tile>
  </mat-grid-list>
</div>
